body {
    background-image: url("./image/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 7px 0 0 0;
}

#header #topField ul {
    list-style-type: none;
    height: 38px;
}

#header #topField li {
    text-align: center;
    display: inline-block;
}

#header #topField a {
    display: block;
    text-decoration: none;
    padding: 3px 20px;
}

#header #navigationBar ul {
    padding-left: 210px;
    overflow: hidden;
    display: table;
    width: 1000px;
    height: 26px;
}

#header #navigationBar li {
    list-style: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#header #navigationBar a {
    text-decoration: none;
    display: block;
}

#header #topField li > * {
    vertical-align: middle;
}

#header #iosIcon {
    padding-left: 210px;
    padding-right: 10px;
    height: 38px;
}

#header p#slideShare {
    color: white;
    display: inline-block;
}

#header #longString {
    width: 2px;
    height: 14px;
    background: #575757;
    margin-left: 15px;
    border: 0;
    display: inline-block;
}

#header #searchInput {
    padding-left: 18px;
    display: inline-block;
}

#header #searchButton {
    margin-left: -20px;
}

#header #searchInput input {
    width: 167px;
    height: 22px;
    opacity: 0.5;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
}

#header #uploadButton {
    margin-left: 480px;
    background: #FF8000;
    width: 50px;
    height: 22px;
    border: 1px #FF8000;
    border-radius: 3px;
    color: white;
    display: inline-block;
}

#header #magicButton {
    margin-left: 5px;
    background-color: #FF8000;
    width: 30px;
    height: 22px;
    border: 1px #FF8000;
    border-radius: 3px;
    display: inline-block;
}

#header #magicIcon {
    margin-left: -26px;
    color: white;
}

#header #personalImage {
    margin-left: 10px;
    width: 23px;
    height: 20px;
    display: inline-block;
}

#header #navigationBar {
    background-color: #ffffff;
    opacity: 0.6;
}

#bigText p {
    text-align: center;
    font-size: 50px;
    color: white;
}

#smallText p {
    text-align: center;
    font-size: 21px;
    color: white;
    margin-top: -45px;
}

div#middleButton {
    text-align: center;
    vertical-align: middle;
}

#noThanksBtn button {
    margin-left: 25px;
    background: #E2958E;
    width: 90px;
    height: 45px;
    border: 2px #e8ebe9 solid;
    border-radius: 8px;
    color: white;
    padding: 0;
}

#createNowBtn span.fa-linkedin {
    margin-left: -5px;
    color: white;
    font-size: 32px;
}

#createNowBtn button > *{
    vertical-align: middle;
    text-align: center;
}

#createNowBtn span.text{
    margin-left: 9px;
    font-size: 18px;
}

div#noThanksBtn {
    display: inline;
}

#createNowBtn button {
    width: 160px;
    background: #277BBB;
    height: 45px;
    border-radius: 8px;
    color: white;
    border: none;
}

div#createNowBtn {
    display: inline;
}

div#images {
    left: 46%;
}

div#image1 {
    position: relative;
    left: 28%;
    top: 198px;
    z-index: 2;
}

div#image2 {
    position: relative;
    left: 32%;
    top: -136px;
    z-index: 1;
}

div#image3 {
    position: relative;
    top: -305px;
    left: 57%;
    z-index: 2;
}

div#footer {
    position: absolute;
    right: 0;
    top: 655px;
    left: 0;
    padding: 1rem;
    background-color: #46294A;
}

div#someLinks {
    text-align: center;
    margin-top: 45px;
}

div#getText {
    color: white;
    font-size: 21px;
    text-align: center;
}

div#connectText {
    display: inline-block;
    margin-left: 50px;
}

div#pickText {
    display: inline-block;
    margin-left: 77px;
}

div#publishText {
    display: inline-block;
    margin-left: 77px;
}

i.firstArrow, span.secondArrow, span.thirdArrow {
    margin-left: 40px;
    opacity: 0.4;
}

p.smallFooterText {
    font-size: 14px;
    color: #ADADAD;
}

p.bigFooterText {
    color: #F5F5F5;
}

div#footerBtn {
    text-align: center;
}

div#bottomLink {
    text-align: center;
    color: #ADADAD;
    font-size: 10px;
    margin-top: 18px;
}

div#footerBtn button {
    width: 150px;
    background: white;
    height: 45px;
    border-radius: 8px;
    color: #277BBB;
    font-size: 13px;
}